*{margin:0 ; padding: 0; box-sizing: border-box;}


.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:rgb(28, 48, 42);
    color: white;
    text-align: center;
    margin-top: 8px;
    padding-top: 7px;
}